    <header>
      <form>
        <fieldset>
          <legend>Zoek een <span>sick</span> board</legend>
          <label for="zoek">Zoeken</label>
          <input type="search" name="q" id="zoek" placeholder="Zoek op naam of merk" />
          <button type="submit">Zoek!</button>
        </fieldset>
        <button><span>zoek een board</span></button>
      </form>

      <h1>99boards <span>but i'm riding one...</span></h1>
      <button>Zoek een board</button>
    </header>